<section class="content">
<div class="row">
<div class="col-lg-12">
  <div class="portlet portlet-default">
    <div class="portlet-body">
    <%= form_for @message, :url => messages_path, html: { multipart: true } do |f| %>
      <%= render "common/error", object: @message %>
      <% if @sender %>
      <%= hidden_field_tag :sender, @sender.id %>
      <% else %>
      <div class="form-group">
        <span class="btn btn-block btn-success btn-lg btn-file">
          宛先を撮影する <%= f.file_field :address, accept: "image/*", capture: "camera" %>
        </span>
      </div>
      <% end %>
      <% if @reply.present? %>
        <%= hidden_field_tag :reply, @reply %>
      <% end %>
      <div class="form-group">
        <span class="btn btn-block btn-success btn-lg btn-file">
          本文を撮影する <%= f.file_field :message, accept: "image/*", capture: "camera" %>
        </span>
      </div>
      <%= f.submit "送信", data: { disable_with: "送信中" }, class: "btn btn-lg btn-block btn-primary" %>
    <% end %>
    <div class="clearfix"></div>
    </div>
  </div>
</div>
</div>
</section>