 <div class="row">
  <div class="col-md-12">
    <div class="box">
    <div class="box-header">
    <h3 class="box-title"><i class="fa fa-envelope-o"></i> 手紙一覧</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
      <table class="table table-striped">
      <tr>
        <th class="col-lg-1 text-center"></th>
        <th class="col-lg-2 text-center">差出人</th>
        <th class="col-lg-4 text-center">手紙</th>
        <th class="col-lg-2 text-center">差出日時</th>
        <th class="col-lg-2 text-center"></th>
      </tr>
      <% @messages.each do |message| %>
      <% if message.users.blank? %>
      <tr>
        <td class="text-center v"><%= message.id %></td>
        <td class="text-left v"><%= message.owner.name %></td>
        <td class="text-center v">
        <% if message.address.present? %>
        <%= image_tag(message.address.url, class: "img-responsive", width: "300px", alt: "message") %>
        <% end %>
        </td>
        <td class="text-center v"><%= message.created_at.strftime("%Y-%m-%d %H:%H") %></td>
        <td class="text-center v">
        <%= link_to "宛先を紐付ける", edit_x_message_path(message), class: "btn btn-lg btn-block btn-primary" %>
        </td>
      </tr>
      <% end %>
      <% end %>
      </table>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
    </div>
    </div>
  </div>
</div>
